<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{% if app.user %}/profile/ {% else %}/{% endif %}" {% if app.user %} style="color: red; font-weight: bolder;" {% else %}/{% endif %}>
                <img src="/img/logo.png" alt="logo" height="40" width="60"> {% if app.user %} {{ app.user.username }} {% else %} DuckBook {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('quack_index') }}">Quacks</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" title="sign-out"><img src="/img/picto/logOutDuck.png" alt="sign-out" width="30" height="30"></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register/" title="register"><img src="/img/picto/addDuck.png" alt="sign-in" width="30" height="30"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/" title="sign-in"><img src="/img/picto/logInDuck.png" alt="sign-in" width="30" height="30"></a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        <section class="mx-2">
            {% block body %}{% endblock %}
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
